[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.0"
pytest = "*"
pytest-pythonpath = "==0.7.3"
pytest-django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.9"
